services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: factoryerp-api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - rabbitmq
      - redis
